root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true (Limpar espaço em branco)
insert_final_newline = true (insere uma nova linha ao salvar)
